{% extends 'layouts/main.html' %}
{% block title %} Food Logic : Home {% endblock %}

{% block content %}
<div class="pt-5 text-center align-items-center bg-primary-subtle">
    <div class="container">
        <div> <span class="bg-dark text-white rounded p-2 text-center align-self-center" data-aos="fade-up">
                New !
            </span>
            <span class="ps-3 fs-4">
                There are no new feature(s) yet!
            </span>
        </div>
        <div class="pt-4">
            <div class="fs-4 fw-semibold text-comp text-center">
                <p class="text-org py-5" data-aos="fade-up"> The backend is being currently worked on.</p>
                <p class="text-gre fw-semibold px-20 py-10 bg-comp" data-aos="fade-right"> While waiting for a stable
                    feature to
                    ready. You can
                    view the food database available so far by clicking <a href="#" class="text-gre fw-semibold"> here
                        <i class="fa-solid fa-database fs-5"></i> </a>. </p>
                <p class="text-org p-2 pt-9" data-aos="fade-up"> The <span
                        class="bg-dark text-white rounded p-2 text-center align-self-center fs-5">
                        Frontend
                    </span> <span class="ps-3"> development would begin ! once there is a stable feature. </span> </p>
            </div>
            <div class="fw-bolder text-comp text-center py-4 px-10">
                <a class="fs-3 fw-bold lh-base text-gre" data-aos="fade-up" href="#"> Learn About Project
                </a>
                <p data-aos="fade-up">
                    <lord-icon src="https://cdn.lordicon.com/eqfafivu.json" trigger="loop"
                        colors="outline:#121331,primary:#1f2839,secondary:#000000,tertiary:#1e4023,quaternary:#a66037,quinary:#e9e4ed"
                        style="width:250px;height:250px">
                    </lord-icon>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}