{% extends 'layouts/main.html' %}
{% block title %} Food Logic : Home {% endblock %}

{% block content %}
<div class="pt-9 text-center align-items-center">
    <div> <span class="bg-dark text-white rounded p-2 text-center align-self-center" data-aos="fade-up">
            New !
        </span>
        <span class="ps-3 fs-4">
            There are no new features yet!
        </span>
    </div>
    <div class="pt-5">
        <div class="fs-1 fw-bolder text-comp text-center und">
            <a href="#home" class="text-org"> {...} FoodLogic </a>
        </div>
        <div class="fw-bolder text-comp text-center py-4 px-10">
            <h1 class="display-3 fw-bolder lh-base text-gre"> Your number one stop for Nutritional needs.
            </h1>
        </div>
    </div>
</div>
{% endblock %}