/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #006633; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cc3300; 
  }